.cursor {
  cursor: pointer;
}
.footer-icon {
  margin-right: 15px;
  cursor: pointer;
}
.border-design {
  border-color: #2d343f !important;
}
.text-color1 {
  color: #dcdde1;
}
.back-color {
  background-color: #1d242d;
}
.back-color1 {
  background-color: #212934 !important;
}
